In [2]:
                                                              # ASSIGNMENT 01

# For loop:

#  Q1: Create a list of all numbers between 1 and 100 that are divisible by both 3 and 5.

numbers=[]
for i in range(1,101):
 if i%3==0 and i%5==0:
  numbers.append(i)
print("Numbers Divisible by both 3 and 5: ",numbers)

Numbers Divisible by both 3 and 5:  [15, 30, 45, 60, 75, 90]

In [4]:
# Q2: Write a loop that replaces all spaces in a string with underscores.

bckz="Bahria College"
final=""
for i in bckz:
  if i== " ":
    final +="_"
  else:
    final+=i
print(final)

Bahria_College

In [13]:
 # Q3:Check which elements are common in two lists
list_1=[1,2,3,4,5,6,8,9,12]
list_2=[4,5,6,7,2,3,13,56,12,34]
common=[]
for i in list_1:
  if i in list_2:
    if i not in common:
     common.append(i)

print(common)

[2, 3, 4, 5, 6, 12]

In [14]:
 # While Loop
 # Q1:Keep removing elements from a list one by one and print the list each time, until it becomes empty
iron=[1,2,3,4,5,6]
print(iron)
while iron:
  iron.pop()
  print(iron)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
[]

In [15]:
# Q2:S tart from a number and keep dividing it by 2 until it becomes less than 1. Print each value
nums=100
while nums>1:
  print(nums)
  nums=nums/2

100
50.0
25.0
12.5
6.25
3.125
1.5625

In [16]:
from ast import Num
# Q3: Ask the user to enter numbers until the total sum crosses 100.
full=0
while full<=100:
  num = int(input("Enter a Number: "))
  full+=num
print("total beyond 100! Final total:",full)

Enter a Number: 67
Enter a Number: 67
total beyond 100! Final total: 134